## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [11]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [63]:
# Your code here

sample_list_1 = random.sample(range(100), k=80)

print(sample_list_1)

[97, 96, 70, 76, 5, 42, 13, 32, 74, 11, 75, 46, 55, 79, 71, 30, 78, 25, 8, 52, 54, 93, 41, 82, 83, 60, 89, 1, 14, 72, 40, 77, 37, 12, 80, 94, 7, 17, 19, 64, 62, 66, 45, 68, 84, 15, 63, 65, 95, 61, 9, 28, 99, 21, 20, 22, 23, 31, 49, 3, 90, 92, 39, 27, 26, 48, 57, 88, 36, 0, 73, 53, 67, 87, 69, 58, 43, 98, 4, 24]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [64]:
# Your code here

set1 = set(sample_list_1)

print(set1)
print(len(sample_list_1))
print(len(set1))

{0, 1, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 36, 37, 39, 40, 41, 42, 43, 45, 46, 48, 49, 52, 53, 54, 55, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}
80
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [65]:
# Your code here

sample_list_2 = []

for values in range(0,80):
    sample_list_2.append(random.choice(range(100)))
print ("sample_list_2 is: ", sample_list_2)

sample_list_2 is:  [60, 88, 32, 55, 45, 49, 27, 81, 11, 39, 85, 38, 83, 23, 98, 33, 64, 76, 32, 95, 86, 69, 25, 32, 88, 57, 48, 7, 96, 15, 39, 64, 9, 3, 73, 44, 30, 39, 50, 66, 49, 62, 29, 13, 28, 70, 37, 33, 72, 85, 6, 20, 68, 99, 98, 5, 40, 39, 52, 77, 30, 92, 98, 84, 94, 45, 4, 1, 49, 41, 94, 18, 21, 66, 59, 12, 97, 94, 30, 16]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [66]:
# Your code here

set2 = set(sample_list_2)

print(len(set2))
print(len(sample_list_2))

#Is not the same length because in sets can't be same elements!

61
80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [67]:
# Your code here

set3 = set1 - set2
print(set3)

{0, 8, 14, 17, 19, 22, 24, 26, 31, 36, 42, 43, 46, 53, 54, 58, 61, 63, 65, 67, 71, 74, 75, 78, 79, 80, 82, 87, 89, 90, 93}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [68]:
# Your code here

set4 = set2 - set1

print(set4)

{33, 6, 38, 44, 16, 81, 18, 50, 85, 86, 59, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [69]:
# Your code here

set5 = set1 & set2

print(set5)

{1, 3, 4, 5, 7, 9, 11, 12, 13, 15, 20, 21, 23, 25, 27, 28, 30, 32, 37, 39, 40, 41, 45, 48, 49, 52, 55, 57, 60, 62, 64, 66, 68, 69, 70, 72, 73, 76, 77, 83, 84, 88, 92, 94, 95, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [70]:
# Your code here

print("Lenght of set 1 is {}. It's a list of 80 random numbers".format(len(set1))) # set 1 length is 80

print("Length of set 2 is {}. It's the result of converting sample list 2 into a set".format(len(set2))) # set 2 length is 55

if len(set3) == len(set1 - set2):
    print("Length of set3 is {}. It's the result of substracting set2 to set1".format(len(set1 - set2)))
if len(set4) == len(set2 - set1):
    print("Length of set4 is {}. It's the result of substracting set1 to set2".format(len(set2 - set1)))
if len(set5) == len(set1 & set2):
    print("Length of set5 is {}. It's the result of the intersection between set1 and set2".format(len(set1 & set2)))

Lenght of set 1 is 80. It's a list of 80 random numbers
Length of set 2 is 61. It's the result of converting sample list 2 into a set
Length of set3 is 31. It's the result of substracting set2 to set1
Length of set4 is 12. It's the result of substracting set1 to set2
Length of set5 is 49. It's the result of the intersection between set1 and set2

#### Create an empty set called `set6`.

In [71]:
# Your code here

set6 = set()

type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [72]:
# Your code here

set6.update(set5, set3)


print(set6)

{0, 1, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 36, 37, 39, 40, 41, 42, 43, 45, 46, 48, 49, 52, 53, 54, 55, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [73]:
# Your code here

if set1 == set6:
    print("set1 and set6 are equal")
else:
    print("set1 and set6 are not equal")

set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [74]:
# Your code here

if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")
    
if set3.issubset(set1):
    print("set3 is a subset of set1")
else:
    print("set3 is not a subset of set1")

set2 is not a subset of set1
set3 is a subset of set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [75]:
# Your code here

set_x = set3.union(set4, set5)

set_y = set1.union(set2)

if set_x == set_y:
    print("Both sets are equal")
else:
    print("Both sets are not equal")

Both sets are equal

#### Using the `pop` method, remove the first element from `set1`.

In [76]:
# Your code here

set1.pop()

print(set1)

{1, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 36, 37, 39, 40, 41, 42, 43, 45, 46, 48, 49, 52, 53, 54, 55, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [77]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_to_remove = set(list_to_remove)

intersection = set1 & set_to_remove

set1 = set1 - intersection

print(set1)

{3, 4, 5, 7, 8, 12, 13, 14, 15, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 36, 37, 40, 42, 43, 45, 46, 48, 52, 53, 54, 55, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}